/*==================== IMAGE ====================*/

.app__logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .app__logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



/*==================== REUSABLE CLASSES ====================*/

section{
    width:1024px;
    height:auto;

    padding:.5rem;
    margin:0 auto 0 auto;
}

.container{
    width:1024px;
    height:auto;

    padding:.5rem;
    margin:0 auto 0 auto
}

.grid{
    display:grid;

    grid-template-columns:repeat( 2, 1fr );
    grid-template-rows:repeat( 3, 1.5fr );

    column-gap:1.5rem;
    row-gap:2rem;
}

.flex_col{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.flex_row{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;

    column-gap:5rem;
}



/*==================== DIV CLASSES ====================*/

/*==================== HEADER ====================*/

.app__header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

/*==================== NAVBAR ====================*/

