/*==================== IMPORT SETTINGS ====================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*==================== ROOT VARIABLES ====================*/

:root{

    /*========== Colors | Dark ==========*/
    /* Color setting HSL( hue, saturation, lightness) */

    --white-color:#fff;
    --text-color:hsl(24,4%,75%);
    --text-color-light:hsl( 22 , 4%, 55% );
    --body-color:hsl( 22, 8%, 6% );
    --container-color:hsl( 22, 8%, 7% );

    /*========== Font & Typography ==========*/
    /* .5rem = 8px | 1rem = 16px */

    --body-font:'Poppins', sans-serif;
    --biggest-font-size:2em;
    --bigger-font-size:1.5em;
    --big-font-size:1.25em;
    --normal-font-size:1em;
    --small-font-size:.85em;
    --mini-font-size:.8em;

    /*========== Font Weight ==========*/

    --font-weight-bold:700;
    --font-weight-normal:600;
    --font-weight-small:500;

    /*========== Margines ==========*/
	/* .5rem = 8px | 1rem = 16px */

	--mb-1:1rem;
	--mb-1-5:1.5rem;
	--mb-2:2rem;
	--mb-2-5:2.5rem;

}

/*==================== APP LOGO ====================*/

.app__logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .app__logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*==================== REUSABLE CLASSES ====================*/

section{
    width:1024px;

    padding:.5rem;
    margin:0 auto 0 auto;
}

.container{
    width:1024px;

    padding:.5rem;
    margin:0 auto 0 auto
}

.grid{
    display:grid;
    place-items:center;

    width:1256px;

    padding:.5rem;
    margin: 0 auto 0 auto;
}



/*==================== DIV CLASSES ====================*/

/*==================== HEADER ====================*/

.app__header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

/*==================== NAVBAR ====================*/

/*.nav{
    width:100%;

    position:fixed;
    left:100;
    top:0;
    z-index:100;

    display:flex;
    justify-content:space-between;

    background-color: var(--body-color);
}

.nav__menu{
    margin-left:auto;
    margin-right:auto;
    place-items:center;
}

.nav__list{
    display:flex;
    column-gap:3.6rem;
}

.nav__item{
    color:var(--white-color);
    font-weight:var(--font-weight-normal);
    font-size:var(--normal-font-size);
}

.nav__link{

}
/*
/*==================== FOOTER ====================*/

.footer__menu{
    display:grid;
    align-items:center;
    grid-template-columns:repeat(4,1fr);

    padding-top:6rem;

    text-align:center;
}

.footer__card{

    height:250px;
    width:200px;

    padding:.5rem;
}

.footer__title{
    font-size:var(--bigger-font-size);

    margin-bottom:var(--mb-2);
}

.footer__text{
    display:inline-block;

    width:200px;

    margin-bottom:var(--mb-1);
}

.footer__copy{
    font-size:.9em;

    text-align:center;
    align-content:center;

    margin: 3.5rem 0 2rem 0;
}

/*==================== BREAKPOINTS ====================*/

/*========== Small Devices ==========*/

@media screen and (max-width: 320px) {
    .footer__menu{

    }
}

/*========== Medium Devices ==========*/

@media screen and (max-width: 768px) {
    .footer__menu{

    }
}

/*========== Large Devices ==========*/

@media screen and ( max-width: 1024px) {
    .footer__menu{

    }
}